@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 8%;
  width: 100%;
  color: white;
  background-color: black;
}

header h1 {
  margin: 0;
  margin-left: 0.6%;
  font-size: 3rem;
}

button.active {
  color: black;
  background-color: #ffffff;
}

.content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.todoBtn {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 7%;
  width: 15%;

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  padding: .5rem;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 2rem;
  border-color: transparent;
  background-color: #ffffff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  animation: todoBtnbouncy 10s ease infinite;
}

.todoBtn:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

@keyframes todoBtnbouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.sideMenu {
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}

.home {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5%;
  margin-top: 10%;
  padding: 0;
  list-style: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.home h1 {
  margin-bottom: 5%;
  border-bottom: 3px solid #ffffff;
}

.home button {
  text-align: start;
  border: none;
  background: none;
  font-size: 150%;
  margin: 5%;
  height: 20%;
  width: 100%;
  cursor: pointer;
  color: #fff;
  border-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.home button:hover {
  color: black;
  background-color: #ffffff;
}

.home button.active {
  color: black;
  background-color: #ffffff;
}

.project {
  display: flex;
  flex-direction: column;
  
  width: 80%;
  margin: 5%;
  margin-top: 10%;
  padding: 0;
  list-style: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.project h1 {
  margin-bottom: 5%;
  border-bottom: 3px solid #ffffff;
}

.project button {
  text-align: start;
  border: none;
  background: none;
  font-size: 140%;
  margin: 10px;
  height: 40%;
  width: 100%;
  cursor: pointer;
  color: #fff;
  border-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.project button:hover {
  color: black;
  background-color: #ffffff;
}

.project button.active {
  color: black;
  background-color: #ffffff;
}

.modal {
  height: 50%;
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style for the modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

/* Style for the close button */
.close {
  float: right;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

/* Style for the form elements within the modal */
label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#submitTodo {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style for the submit button */
#submitTodo:hover {
  background-color: #45a049;
}

.todo-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
  left: 45%;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer h1 {
  font-size: 1rem;
}