@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 8%;
  width: 100%;
  color: white;
  background-color: black;
}

header h1 {
  margin: 0;
  margin-left: 1%;
  font-size: 3rem;
}


button.active {
  color: black;
  background-color: #ffffff;
}

.content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.sideMenu {
  width: 17%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}

.home {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5%;
  margin-top: 10%;
  padding: 0;
  list-style: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.home h1 {
  margin-bottom: 5%;
  border-bottom: 3px solid #ffffff;
}

.home button {
  text-align: start;
  border: none;
  background: none;
  font-size: 150%;
  margin: 5%;
  height: 20%;
  width: 100%;
  cursor: pointer;
  color: #fff;
  border-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.home button:hover {
  color: black;
  background-color: #ffffff;
}

.home button.active {
  color: black;
  background-color: #ffffff;
}

.project {
  display: flex;
  flex-direction: column;
  
  width: 80%;
  margin: 5%;
  margin-top: 10%;
  padding: 0;
  list-style: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.project h1 {
  margin-bottom: 5%;
  border-bottom: 3px solid #ffffff;
}

.project-item {
  width: 100%;
  height: 30%;
  margin-top: 1%;
  font-size: 1.5rem;
  font-weight: 500;

  display: flex;
}

.project-item span {
  width: 100%;
  margin: 5%;

  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  color: #fff;
  border-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.project-item span:hover {
  color: black;
  background-color: #ffffff;
}

.project-item span.active {
  color: black;
  background-color: #ffffff;
}

#add-project{
  text-align: start;
  border: none;
  background: none;
  font-size: 140%;
  margin: 10px;
  height: 40%;
  width: 100%;
  cursor: pointer;
  color: #fff;
  border-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

#add-project:hover {
  color: black;
  background-color: #ffffff;
}

#add-project.active {
  color: black;
  background-color: #ffffff;
}

.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.todoBtn {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 7%;
  width: 15%;

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  padding: .5rem;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 2rem;
  border-color: transparent;
  background-color: #ffffff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  animation: todoBtnbouncy 10s ease infinite;
}

.todoBtn:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

@keyframes todoBtnbouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.todo-item-wrapper {
  margin-top: 3%;
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.todo-item {
  width: 100%;
  margin: 10px 0px 10px 0px;
  opacity: 1;
  transition: opacity 1.2s ease-in-out;

  display: grid;
  grid-template-columns: 0.3fr repeat(2, 1fr);
  grid-template-rows: 0.5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.todo-item:hover {
  border-radius: 10px;
  background-color: #cecece4d;
}

.todo-item input {
  cursor: pointer;
  margin: 0;
  height: 25px;
  width: 25px;
}

.checkbox-input {
  z-index: -1;
  opacity: 0;
}

.todo-item .checkmark {
  justify-self: center;
  align-self: center;
  height: 25px;
  width: 25px;
  background: #e9e9e9;
  border: 1px solid #000000;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.todo-item input:hover ~ .checkmark,
.todo-item input:focus ~ .checkmark {
  background: #92d1ad;
}

.todo-item input:checked ~ .checkmark {
  background: #329041;
}

.todo-item input:hover:not([disabled]):checked ~ .checkmark,
.todo-item input:checked:focus ~ .checkmark {
  background: #0e6647;
}

.todo-item input:disabled ~ .checkmark {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.checkmark:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.todo-item input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 9px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.todo-item input:disabled ~ .checkmark:after {
  border-color: #7b7b7b;
}

.checkmark::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.633rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@keyframes s-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.checkmark input + .checkmark::before {
  animation: s-ripple 250ms ease-out;
}

.checkmark input:checked + .checkmark::before {
  animation-name: s-ripple-dup;
}

.remove-transition {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  transition: opacity 12s ease-out, height 12s ease-out, padding 12s ease-out, margin 12s ease-out; /* Adjust the duration as needed */
}

.todo-item h3{
  justify-self: start;
  align-self: center;

  font-size: 1.4rem;
}

.todo-item p {
  margin: 0;
  justify-self: center;
  align-self: center;

  font-weight: 600;
  font-size: 1.1rem;
}

.project-wrapper {
  margin-top: 3%;
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-todo-list {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.project-todo-list button {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 7%;
  width: 15%;

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  padding: .5rem;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 2rem;
  border-color: transparent;
  background-color: #ffffff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  animation: todoBtnbouncy 10s ease infinite;
}

.project-todo-list button:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.project-todo-list.hidden {
  display: none;
}

.projNameBtn {
  text-align: center;
  text-transform: uppercase;
  border: none;
  background: none;
  font-size: 1.3rem;
  margin: 10px;
  height: 60%;
  width: 100%;
  cursor: pointer;
  color: #fff;
  border-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.projNameBtn:hover {
  color: black;
  background-color: #ffffff;
}

.submit-btn {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  margin-right: 4%;
  margin-bottom: 4%;
  height: 30%;
  width: 50%;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
}

.submit-btn:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.submit-btn:focus {
  outline: none;
}

.cancel-btn {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  height: 30%;
  width: 50%;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
}

.cancel-btn:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.cancel-btn:focus {
  outline: none;
}

.delete-btn {
  font-size: 1rem;
  font-weight: 900;
  padding: 0;
  border: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  width: 20%;
}

.delete-btn:hover {
  color: red;
}

.modal {
  height: 45%;
  width: 35%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40%;
  top: 25%;
}

/* Style for the modal content */
.modal-content {
  background-color: #fefefe;

  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .alert-message {
    position: absolute;
  }

/* Style for the close button */
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  width: 7%;
  float: right;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: white;
  background-color: red;
}

/* Style for the form elements within the modal */
label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#submitTodo {
  background-color: #4CAF50;
  color: white;
  border: none;
  height: 10%;
  width: 25%;
  margin-top: 5%;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 1rem;
}

/* Style for the submit button */
#submitTodo:hover {
  background-color: #45a049;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer h1 {
  font-size: 1rem;
}